
.Projects{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    background-image: url("../../../public/images/bg-images/space-bg.png");
    padding: 75px 0;
}

.Projects .all-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Projects .projects-container-heading{
    text-align: center;
    font-size: 4.5rem;
    font-family: Barlow;
}


.Projects .cards-container{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.Projects .work-in-progress-heading{
    text-align: center;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 10px;
}




@media screen and (max-width: 960px) {
    .Projects .cards-container{
        color: #fff;
        display: flex;
        flex-direction: column;
    }

}